<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/jsfy/res/scene/game_btn_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,939},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,101}</string>
			</dict>
			<key>game/jsfy/res/scene/game_btn_help_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,939},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,101}</string>
			</dict>
			<key>game/jsfy/res/scene/game_btn_setting1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,939},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,101}</string>
			</dict>
			<key>game/jsfy/res/scene/game_shuzidi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,960},{119,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,31}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,547},{121,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,537},{150,170}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,686},{154,155}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,882},{138,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,137}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,249},{122,118}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,422},{123,118}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,129},{124,118}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,1},{126,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1824,842},{154,154}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,530},{154,166}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,374},{154,173}}</string>
				<key>offset</key>
				<string>{2,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>game/jsfy/res/scene/icon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,374},{161,166}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>game/jsfy/res/scene/js_big1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,926},{276,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,96}</string>
			</dict>
			<key>game/jsfy/res/scene/js_big2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,926},{276,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,96}</string>
			</dict>
			<key>game/jsfy/res/scene/js_free1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,709},{171,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,138}</string>
			</dict>
			<key>game/jsfy/res/scene/js_free2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,1},{171,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,138}</string>
			</dict>
			<key>game/jsfy/res/scene/js_jia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,845},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>game/jsfy/res/scene/js_jia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,845},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>game/jsfy/res/scene/js_jian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,845},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>game/jsfy/res/scene/js_jian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,845},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>game/jsfy/res/scene/js_mfgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,445},{638,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,205}</string>
			</dict>
			<key>game/jsfy/res/scene/js_mfhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,886},{720,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,72}</string>
			</dict>
			<key>game/jsfy/res/scene/js_star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1},{171,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,138}</string>
			</dict>
			<key>game/jsfy/res/scene/js_star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,141},{171,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,138}</string>
			</dict>
			<key>game/jsfy/res/scene/js_stop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,249},{171,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,138}</string>
			</dict>
			<key>game/jsfy/res/scene/js_stop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,281},{171,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,138}</string>
			</dict>
			<key>game/jsfy/res/scene/js_zj_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{442,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{442,377}</string>
			</dict>
			<key>game/jsfy/res/scene/js_zj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{439,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,371}</string>
			</dict>
			<key>game/jsfy/res/scene/js_zj_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,1},{287,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,371}</string>
			</dict>
			<key>game/jsfy/res/scene/js_zj_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,652},{446,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,191}</string>
			</dict>
			<key>game/jsfy/res/scene/js_zj_spins.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,652},{568,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,197}</string>
			</dict>
			<key>game/jsfy/res/scene/js_zj_szd.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,939},{130,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,76}</string>
			</dict>
			<key>game/jsfy/res/scene/js_lackMoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,851},{378,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,86}</string>
			</dict>
			<key>game/jsfy/res/scene/js_speed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,537},{276,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,96}</string>
			</dict>
			<key>game/jsfy/res/scene/img_PaoMaDeng01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1973,1},{44,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,39}</string>
			</dict>
			<key>game/jsfy/res/scene/img_PaoMaDengDi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,960},{635,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{635,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scene.png</string>
			<key>realTextureFileName</key>
			<string>scene.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>