<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChipFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,302},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>ChipFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,210},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>ChipFrame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,118},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>ChipFrame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,26},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>CloseBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,727},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>DealerImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,820},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>ExitBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,965},{153,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{153,54}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>FunctionBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,818},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>FunctionImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{238,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,388}}</string>
                <key>sourceSize</key>
                <string>{238,388}</string>
            </dict>
            <key>HostingBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,709},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>LogBaseImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,446},{118,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,162}}</string>
                <key>sourceSize</key>
                <string>{126,168}</string>
            </dict>
            <key>LogImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,724},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>LogMaskImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,633},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>MoneyImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,946},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>MosaicGoldRulesBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,877},{67,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,48}}</string>
                <key>sourceSize</key>
                <string>{67,48}</string>
            </dict>
            <key>NoHostingBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,473},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>OfflineImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>OkImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,631},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>RandomBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,446},{246,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,103}}</string>
                <key>sourceSize</key>
                <string>{246,103}</string>
            </dict>
            <key>RatholingBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,808},{155,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,58}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>ResultBaseImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,557},{457,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,209}}</string>
                <key>sourceSize</key>
                <string>{457,209}</string>
            </dict>
            <key>ReturnHallBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,473},{158,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,77}}</string>
                <key>sourceSize</key>
                <string>{158,77}</string>
            </dict>
            <key>RoomInfoImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,394},{259,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,43}}</string>
                <key>sourceSize</key>
                <string>{259,43}</string>
            </dict>
            <key>RulesBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,808},{155,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,58}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>SelectChip.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,439},{255,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,32}}</string>
                <key>sourceSize</key>
                <string>{255,32}</string>
            </dict>
            <key>SetBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,937},{155,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,58}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>SetImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,442}}</string>
                <key>sourceSize</key>
                <string>{645,442}</string>
            </dict>
            <key>SliderBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,394},{81,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,47}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>SliderImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{329,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,22}}</string>
                <key>sourceSize</key>
                <string>{329,22}</string>
            </dict>
            <key>SpreadBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,551},{244,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,100}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>Srnn_Auto_bt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,937},{69,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,49}}</string>
                <key>sourceSize</key>
                <string>{69,49}</string>
            </dict>
            <key>Srnn_Auto_bt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,807},{68,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>Srnn_Auto_bt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,886},{69,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,49}}</string>
                <key>sourceSize</key>
                <string>{69,49}</string>
            </dict>
            <key>Srnn_Auto_bt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,446},{109,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,39}}</string>
                <key>sourceSize</key>
                <string>{109,39}</string>
            </dict>
            <key>Srnn_Auto_tb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{169,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,102}}</string>
                <key>sourceSize</key>
                <string>{169,102}</string>
            </dict>
            <key>StartBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,653},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>TimerImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,446},{126,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,168}}</string>
                <key>sourceSize</key>
                <string>{126,168}</string>
            </dict>
            <key>TitleAuto.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,581},{125,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,50}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
            <key>TitleRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,755},{217,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,50}}</string>
                <key>sourceSize</key>
                <string>{217,50}</string>
            </dict>
            <key>VoiceBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,610},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>WaitAddScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,67},{301,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,58}}</string>
                <key>sourceSize</key>
                <string>{301,58}</string>
            </dict>
            <key>WaitNextRound.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,370},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>WaitRotateImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,877},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16b43638c6dfd39446d26df64ff38a4$</string>
            <key>textureFileName</key>
            <string>scene.png</string>
        </dict>
    </dict>
</plist>
