<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>diamondtrain_png/bnt_fh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,970},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>diamondtrain_png/bnt_ks1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,1007},{186,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,132}</string>
			</dict>
			<key>diamondtrain_png/bnt_qc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,1027},{164,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,76}</string>
			</dict>
			<key>diamondtrain_png/bnt_tz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1119},{145,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,71}</string>
			</dict>
			<key>diamondtrain_png/bnt_yz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,1349},{164,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,76}</string>
			</dict>
			<key>diamondtrain_png/hc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,1202},{105,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,74}</string>
			</dict>
			<key>diamondtrain_png/hc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,1266},{105,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,74}</string>
			</dict>
			<key>diamondtrain_png/hc_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1340},{105,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,74}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,361},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,361},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,412},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,361},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,361},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,581},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,530},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc8.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,629},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,530},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc_huoche.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,1081},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc_jz.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,546},{278,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,81}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc_tanke.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,956},{161,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,79}</string>
			</dict>
			<key>diamondtrain_png/icon_zslc_yanhua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,1518},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>diamondtrain_png/img_jpxzk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,832},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>diamondtrain_png/img_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,69},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>diamondtrain_png/img_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,1428},{88,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>diamondtrain_png/img_yzdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,658},{56,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,44}</string>
			</dict>
			<key>diamondtrain_png/img_yzhg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,1},{66,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,17}</string>
			</dict>
			<key>diamondtrain_png/tk_pd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,699},{255,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,105}</string>
			</dict>
			<key>diamondtrain_png/tk_pd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,699},{255,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,105}</string>
			</dict>
			<key>diamondtrain_png/tk_pd_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,750},{255,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,105}</string>
			</dict>
			<key>diamondtrain_png/tk_pd_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,750},{255,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,105}</string>
			</dict>
			<key>diamondtrain_png/tk_ph_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1515},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>diamondtrain_png/tk_ph_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1001},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>diamondtrain_png/tk_ph_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,1120},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>diamondtrain_png/tk_ph_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,1120},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>diamondtrain_png/tk_ph_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,1120},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>diamondtrain_png/tk_ph_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,1202},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>diamondtrain_png/tk_ph_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,1202},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,1114},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,806},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,806},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,1141},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,1271},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,814},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,885},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,963},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/tk_yd_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,963},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>diamondtrain_png/yh_xlz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{409,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,215}</string>
			</dict>
			<key>diamondtrain_png/yh_xlz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1},{409,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,215}</string>
			</dict>
			<key>diamondtrain_png/yh_xlz_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1},{409,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,215}</string>
			</dict>
			<key>diamondtrain_png/yh_xlz_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,1},{409,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{409,215}</string>
			</dict>
			<key>diamondtrain_png/yh_xlz_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,1},{409,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{409,215}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,710},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,407},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,218},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,669},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,386},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,648},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,386},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,218},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/yh_zk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,386},{260,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,166}</string>
			</dict>
			<key>diamondtrain_png/bnt_fh2.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,970},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>diamondtrain_png/bnt_ks2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,922},{190,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,137}</string>
			</dict>
			<key>diamondtrain_png/bnt_qc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,835},{164,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,76}</string>
			</dict>
			<key>diamondtrain_png/bnt_tz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1516,1193},{145,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,71}</string>
			</dict>
			<key>diamondtrain_png/bnt_yz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,885},{164,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,76}</string>
			</dict>
			<key>diamondtrain_png/auto_rotate.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,648},{183,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,185}</string>
			</dict>
			<key>diamondtrain_png/tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1381,1342},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>diamondtrain_png/tips_laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,878},{34,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,32}</string>
			</dict>
			<key>diamondtrain_png/bnt_jiasu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,923},{102,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,58}</string>
			</dict>
			<key>diamondtrain_png/bnt_jiasu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,977},{102,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,58}</string>
			</dict>
			<key>diamondtrain_png/bnt_js1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,218},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>
			<key>diamondtrain_png/bnt_js2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,1163},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>
			<key>diamondtrain_png/hcg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,977},{187,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,296}</string>
			</dict>
			<key>diamondtrain_png/hcg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,412},{187,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,296}</string>
			</dict>
			<key>diamondtrain_png/hcg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,218},{187,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,296}</string>
			</dict>
			<key>diamondtrain_png/bnt_banzh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,1278},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>diamondtrain_png/bnt_banzh2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,1430},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>diamondtrain_png/bnt_ks3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,597},{137,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,27}</string>
			</dict>
			<key>diamondtrain_png/bnt_ks4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,736},{94,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,27}</string>
			</dict>
			<key>diamondtrain_png/bnt_guanbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,546},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>diamondtrain_png/bnt_guanbi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,602},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>diamondtrain_png/hjlc_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,1},{152,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,302}</string>
			</dict>
			<key>diamondtrain_png/hjlc_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,290},{209,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,67}</string>
			</dict>
			<key>diamondtrain_png/hjlc_liand1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,1298},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>diamondtrain_png/hjlc_liand2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,1428},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>diamondtrain_png/hjlc_liand3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1597},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>diamondtrain_png/hjlc_liand4.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,971},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>diamondtrain_png/hjlc_liand5.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1103},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>diamondtrain_png/yh_xian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,1},{594,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{594,12}</string>
			</dict>
			<key>diamondtrain_png/yh_xian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,305},{615,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,46}</string>
			</dict>
			<key>diamondtrain_png/yh_xian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,305},{615,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,46}</string>
			</dict>
			<key>diamondtrain_png/yh_xian4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1958,305},{615,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,46}</string>
			</dict>
			<key>diamondtrain_png/yh_xian5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,922},{615,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,46}</string>
			</dict>
			<key>diamondtrain_png/yh_xian6.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,837},{615,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,46}</string>
			</dict>
			<key>diamondtrain_png/yh_xian7.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,218},{615,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,46}</string>
			</dict>
			<key>diamondtrain_png/yh_xian8.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,266},{615,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,46}</string>
			</dict>
			<key>diamondtrain_png/hjlc_sz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,314},{374,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,45}</string>
			</dict>
			<key>diamondtrain_png/hjlc_sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,314},{374,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,45}</string>
			</dict>
			<key>diamondtrain_png/hjlc_sz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,970},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>diamondtrain_png/hjlc_top_bz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,501},{209,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,67}</string>
			</dict>
			<key>diamondtrain_png/hjlc_top_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,712},{209,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,67}</string>
			</dict>
			<key>diamondtrain_png/wz_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,906},{69,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,28}</string>
			</dict>
			<key>diamondtrain_png/wz_yy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,878},{69,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,28}</string>
			</dict>
			<key>diamondtrain_png/bnt_sz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,970},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>diamondtrain_png/bnt_sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,970},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>diamondtrain.png</string>
			<key>realTextureFileName</key>
			<string>diamondtrain.png</string>
			<key>size</key>
			<string>{2048,1728}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1728</integer>
		</dict>
	</dict>
</plist>