<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BatteryImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,317},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>BatteryPowerImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,307},{33,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{33,14}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>CloseBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,701},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>DealerImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,186},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>ExitBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,645},{153,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{153,54}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>FunctionBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,701},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>FunctionImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,409},{238,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,388}}</string>
                <key>sourceSize</key>
                <string>{238,388}</string>
            </dict>
            <key>HostingBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,446},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>LogBaseImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,512},{118,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,162}}</string>
                <key>sourceSize</key>
                <string>{126,168}</string>
            </dict>
            <key>LogImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,701},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>LogMaskImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>MoneyImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,701},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>MosaicGoldRulesBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,67},{67,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,48}}</string>
                <key>sourceSize</key>
                <string>{67,48}</string>
            </dict>
            <key>NoHostingBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,775},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>OfflineImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>OkImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,701},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>RatholingBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,585},{155,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,58}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>ResultBaseImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{457,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,209}}</string>
                <key>sourceSize</key>
                <string>{457,209}</string>
            </dict>
            <key>ReturnHallBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,446},{158,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,77}}</string>
                <key>sourceSize</key>
                <string>{158,77}</string>
            </dict>
            <key>RoomInfoImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,160},{259,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,43}}</string>
                <key>sourceSize</key>
                <string>{259,43}</string>
            </dict>
            <key>RulesBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,525},{155,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,58}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>SetBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,160},{155,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,58}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>SetImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,442}}</string>
                <key>sourceSize</key>
                <string>{645,442}</string>
            </dict>
            <key>SliderBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,234},{81,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,47}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>SliderImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{329,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,22}}</string>
                <key>sourceSize</key>
                <string>{329,22}</string>
            </dict>
            <key>SpreadBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,205},{244,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,100}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>StartBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,307},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>TheMosaicGoldPoolImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,26},{322,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,132}}</string>
                <key>sourceSize</key>
                <string>{322,132}</string>
            </dict>
            <key>TimerImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,342},{126,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,168}}</string>
                <key>sourceSize</key>
                <string>{126,168}</string>
            </dict>
            <key>VoiceBut.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,676},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
            <key>WaitRotateImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,136},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:976b911e2c1939ddaf6b7e1dd2249c4a$</string>
            <key>textureFileName</key>
            <string>scene.png</string>
        </dict>
    </dict>
</plist>
