<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bingo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,2},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,161}</string>
			</dict>
			<key>bingo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,2},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,161}</string>
			</dict>
			<key>bingo_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{162,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,161}</string>
			</dict>
			<key>bingo_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,2},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,161}</string>
			</dict>
			<key>bingo_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,2},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,161}</string>
			</dict>
			<key>bingo_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,167},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,161}</string>
			</dict>
			<key>bingo_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,167},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,161}</string>
			</dict>
			<key>bingo_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,2},{162,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,161}</string>
			</dict>
			<key>bingo_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,167},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,161}</string>
			</dict>
			<key>bingo_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,167},{161,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,161}</string>
			</dict>
			<key>coin1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,407},{52,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,2},{49,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,350},{50,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,287},{52,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,399},{50,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,404},{52,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,448},{52,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,55},{49,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,401},{50,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,343},{52,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,347},{50,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,445},{50,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,453},{56,17}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,289},{56,54}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,167},{56,65}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,167},{56,88}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,227},{50,65}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,340},{50,54}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,108},{57,21}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,287},{57,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,227},{56,61}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,167},{56,87}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,167},{56,74}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,394},{50,50}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>coin2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,287},{56,10}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,10}</string>
			</dict>
			<key>coin2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,230},{56,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,31}</string>
			</dict>
			<key>coin2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,287},{56,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,54}</string>
			</dict>
			<key>coin2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,227},{56,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>coin2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,281},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>coin2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,290},{56,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,39}</string>
			</dict>
			<key>coin2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,347},{56,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,10}</string>
			</dict>
			<key>coin2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,169},{57,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>
			<key>coin2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,344},{56,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,53}</string>
			</dict>
			<key>coin2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,227},{56,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,63}</string>
			</dict>
			<key>coin2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,227},{55,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,58}</string>
			</dict>
			<key>coin2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,448},{57,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Coin.png</string>
			<key>realTextureFileName</key>
			<string>Coin.png</string>
			<key>size</key>
			<string>{1024,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>