<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish13_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,462},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,462},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,544},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,546},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,626},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,628},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,636},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,636},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,538},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,538},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,624},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,624},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,620},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,636},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,708},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,710},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,790},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,792},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,810},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,810},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,702},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,712},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,798},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,798},{154,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,62}</string>
			</dict>
			<key>fish13_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,450},{154,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,64}</string>
			</dict>
			<key>fish13_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,462},{154,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,64}</string>
			</dict>
			<key>fish13_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,462},{154,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,64}</string>
			</dict>
			<key>fish13_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,462},{154,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,64}</string>
			</dict>
			<key>fish14_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,10},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,10},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,98},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,110},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,110},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,110},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,186},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,230},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,198},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,198},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,198},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,274},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,286},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,286},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,286},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,362},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,374},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,374},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,374},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,450},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>fish14_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,10},{200,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,80}</string>
			</dict>
			<key>fish14_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,10},{200,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,80}</string>
			</dict>
			<key>fish14_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,10},{200,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Fish3.png</string>
			<key>realTextureFileName</key>
			<string>Fish3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>