<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish19_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{326,93}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,108},{327,90}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,5},{324,93}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,5},{318,94}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,108},{324,90}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,108},{328,87}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,108},{324,89}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,208},{323,88}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,306},{323,88}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,124}</string>
			</dict>
			<key>fish19_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,442},{323,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,82}</string>
			</dict>
			<key>fish19_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,775},{321,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,82}</string>
			</dict>
			<key>fish19_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,109},{319,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,82}</string>
			</dict>
			<key>fish19_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,438},{324,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,82}</string>
			</dict>
			<key>fish20_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,761},{105,213}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,404},{107,212}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,848},{108,212}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,661},{110,210}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,404},{111,210}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,442},{111,209}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,525},{111,210}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,646},{109,210}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,881},{108,211}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,626},{107,212}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,446},{105,213}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,109},{107,211}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,543},{108,208}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,109},{110,203}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,561},{111,200}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,561},{111,199}}</string>
				<key>offset</key>
				<string>{-1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,330},{111,203}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,849},{109,208}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish20_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,881},{107,212}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Fish8.png</string>
			<key>realTextureFileName</key>
			<string>Fish8.png</string>
			<key>size</key>
			<string>{1000,994}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1000</integer>
			<key>height</key>
			<integer>994</integer>
		</dict>
	</dict>
</plist>