<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish16_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,2},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,2},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,2},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,2},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,104},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,104},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,104},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,104},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,206},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,206},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,206},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,206},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,206},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,216},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,308},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,308},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,308},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,410},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,420},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,410},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,410},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,410},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,420},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish16_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,430},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish16_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,430},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish16_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,512},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish16_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,512},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish16_d_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,596},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish16_d_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,624},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish23_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,596},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,680},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,680},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,624},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,710},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,794},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,794},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,838},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,634},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,738},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,824},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,908},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_d_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,910},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_d_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,852},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_d_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,852},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>fish23_d_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,748},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Fish5.png</string>
			<key>realTextureFileName</key>
			<string>Fish5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>