<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish17_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,670},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,460},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,670},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,0},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,210},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,420},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,630},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,840},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,0},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,210},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,420},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,630},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,0},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,210},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,420},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,630},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,840},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,0},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,210},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,420},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,630},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,0},{210,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,98}</string>
			</dict>
			<key>fish17_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,938},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish17_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,938},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish17_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,420},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish17_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,630},{210,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,80}</string>
			</dict>
			<key>fish24_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,210},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>fish24_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>dish.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,826},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>fish25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{193,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,230}</string>
			</dict>
			<key>fish25_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{193,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,230}</string>
			</dict>
			<key>halo.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,854},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,910},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>fish22_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,350},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,140},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,840},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,420},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,350},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,210},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,210},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,140},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,0},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,0},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,70},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,140},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,210},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,266},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,336},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,392},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,462},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,490},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,560},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,630},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,756},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,630},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,756},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,588},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,518},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,588},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,658},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,728},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,826},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>fish22_d_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,952},{126,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Fish6.png</string>
			<key>realTextureFileName</key>
			<string>Fish6.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>