<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish9_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,422},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,422},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,972},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,972},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,2},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,118},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,2},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,118},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,413},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,645},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,276},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,65},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,538},{112,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,48}</string>
			</dict>
			<key>fish9_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,652},{112,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,48}</string>
			</dict>
			<key>fish9_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,704},{112,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,48}</string>
			</dict>
			<key>fish9_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,756},{112,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,48}</string>
			</dict>
			<key>fish9_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,808},{112,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,48}</string>
			</dict>
			<key>fish9_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,590},{112,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,48}</string>
			</dict>
			<key>fish9_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,329},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,163},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,599},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,485},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,382},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,216},{112,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,49}</string>
			</dict>
			<key>fish9_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,529},{112,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,63}</string>
			</dict>
			<key>fish9_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,698},{112,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,63}</string>
			</dict>
			<key>fish9_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,434},{112,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,63}</string>
			</dict>
			<key>fish9_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,339},{112,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,63}</string>
			</dict>
			<key>fish10_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,478},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,478},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,928},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,918},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,2},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,107},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,212},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,317},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,475},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,2},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,107},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,212},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,317},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,475},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,573},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,678},{94,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,101}</string>
			</dict>
			<key>fish10_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,139},{94,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,75}</string>
			</dict>
			<key>fish10_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,765},{94,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,75}</string>
			</dict>
			<key>fish10_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,863},{94,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,75}</string>
			</dict>
			<key>fish10_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,501},{94,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,75}</string>
			</dict>
			<key>fish10_d_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,406},{94,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,75}</string>
			</dict>
			<key>fish10_d_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,237},{94,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,75}</string>
			</dict>
			<key>fish10_d_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,65},{94,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,75}</string>
			</dict>
			<key>fish11_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,935},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,935},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,783},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,846},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,909},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,573},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,710},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,773},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,836},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,899},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,962},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,2},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,2},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,2},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,2},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,139},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,139},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,234},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,276},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,466},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,371},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,276},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,139},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,529},{133,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,59}</string>
			</dict>
			<key>fish11_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{133,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,140}</string>
			</dict>
			<key>fish11_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,146},{133,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,140}</string>
			</dict>
			<key>fish11_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,290},{133,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,140}</string>
			</dict>
			<key>fish11_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,434},{133,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,140}</string>
			</dict>
			<key>fish12_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,578},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,697},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,816},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,578},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,697},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,816},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,2},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,121},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,240},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,359},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,576},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,695},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>
			<key>fish12_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,814},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>fish12_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,576},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>fish12_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,690},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>fish12_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,804},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Fish2.png</string>
			<key>realTextureFileName</key>
			<string>Fish2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>