<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>button-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,734},{76,79}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,81}</string>
			</dict>
			<key>button-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,460},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>down_gun.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,771},{62,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,65}</string>
			</dict>
			<key>Lock_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,722},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>menus_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,726},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>menus_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,779},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>open.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,958},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>upanddownGun_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,716},{66,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,80}</string>
			</dict>
			<key>up_gun.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,814},{62,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,65}</string>
			</dict>
			<key>dii.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,670},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,786},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>AddFishScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,786},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>AddFishScore_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,148},{63,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,18}</string>
			</dict>
			<key>Add_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,184},{33,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,18}</string>
			</dict>
			<key>board.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,265},{146,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,66}</string>
			</dict>
			<key>Down.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,730},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>Down_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,221},{33,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,18}</string>
			</dict>
			<key>Lock_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,750},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>Lock_no_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,215},{33,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,18}</string>
			</dict>
			<key>Lock_ok_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,258},{33,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,18}</string>
			</dict>
			<key>menus_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,265},{45,27}}</string>
				<key>offset</key>
				<string>{-2,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>score_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,148},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>seat.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,314},{65,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,30}</string>
			</dict>
			<key>Settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,782},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>Settings_tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,252},{33,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,18}</string>
			</dict>
			<key>user_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,148},{139,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,29}</string>
			</dict>
			<key>bullet_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,590},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,90}</string>
			</dict>
			<key>bullet_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,958},{64,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,90}</string>
			</dict>
			<key>button-3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,519},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,319},{152,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,55}</string>
			</dict>
			<key>down_gun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,716},{62,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,65}</string>
			</dict>
			<key>lock_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,475},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>lock_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,190},{366,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,71}</string>
			</dict>
			<key>pt1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,822},{142,200}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,202}</string>
			</dict>
			<key>pt1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,410},{142,200}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,202}</string>
			</dict>
			<key>pt1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,2},{142,184}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,202}</string>
			</dict>
			<key>pt1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,150},{142,182}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,202}</string>
			</dict>
			<key>pt1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,614},{142,168}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,202}</string>
			</dict>
			<key>pt2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{144,200}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,202}</string>
			</dict>
			<key>pt2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,206},{144,200}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,202}</string>
			</dict>
			<key>pt2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,2},{144,184}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,202}</string>
			</dict>
			<key>pt2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,2},{144,182}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,202}</string>
			</dict>
			<key>pt2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,190},{144,168}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,202}</string>
			</dict>
			<key>pt3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,296},{143,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,170}</string>
			</dict>
			<key>pt3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,362},{143,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,170}</string>
			</dict>
			<key>pt3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,443},{143,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,170}</string>
			</dict>
			<key>pt3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,544},{143,168}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,170}</string>
			</dict>
			<key>pt3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,509},{143,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,170}</string>
			</dict>
			<key>Retrurn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,566},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>up_gun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,656},{62,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,65}</string>
			</dict>
			<key>wait_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,319},{194,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,68}</string>
			</dict>
			<key>lock_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,391},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>button-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,590},{76,79}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,81}</string>
			</dict>
			<key>Retrurn.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,603},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>fishGodBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,265},{264,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,50}</string>
			</dict>
			<key>PT4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,410},{142,202}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,204}</string>
			</dict>
			<key>PT4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,616},{142,202}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,204}</string>
			</dict>
			<key>PT4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,2},{142,185}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,204}</string>
			</dict>
			<key>PT4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,2},{142,186}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,204}</string>
			</dict>
			<key>PT4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,786},{142,168}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,204}</string>
			</dict>
			<key>btn_help_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,650},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>btn_help_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,687},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>close_rule_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,656},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>close_rule_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,721},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>bullet_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,656},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,90}</string>
			</dict>
			<key>bullet_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,660},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,90}</string>
			</dict>
			<key>btn_sd.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,356},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>btn_sd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,415},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>btn_zd.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,148},{101,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,100}</string>
			</dict>
			<key>btn_zd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,252},{101,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FishUI.png</string>
			<key>realTextureFileName</key>
			<string>FishUI.png</string>
			<key>size</key>
			<string>{1023,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>