<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish15_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,743},{146,175}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,559},{145,180}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{145,182}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,188},{145,182}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,374},{145,181}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,2},{144,177}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,2},{144,173}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,532},{144,169}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,2},{144,163}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,526},{144,159}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,2},{144,156}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,490},{144,154}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,162},{144,155}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,169},{144,157}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,330},{144,156}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,868},{144,155}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,689},{144,155}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,705},{145,159}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,179},{145,163}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,355},{145,167}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,180},{146,171}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,183},{146,174}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,2},{146,174}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,361},{146,174}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,182}</string>
			</dict>
			<key>fish15_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,346},{131,173}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,176}</string>
			</dict>
			<key>fish15_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,539},{144,175}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,176}</string>
			</dict>
			<key>fish15_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,355},{143,173}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,176}</string>
			</dict>
			<key>fish15_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,718},{144,175}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,176}</string>
			</dict>
			<key>fish15_d_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,539},{144,175}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,176}</string>
			</dict>
			<key>fish15_d_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,718},{144,175}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,176}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Fish4.png</string>
			<key>realTextureFileName</key>
			<string>Fish4.png</string>
			<key>size</key>
			<string>{894,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>894</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>