<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish20_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{176,210}}</string>
				<key>offset</key>
				<string>{-12,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,429},{174,210}}</string>
				<key>offset</key>
				<string>{-12,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,641},{168,208}}</string>
				<key>offset</key>
				<string>{-12,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,222},{162,205}}</string>
				<key>offset</key>
				<string>{-12,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,371},{156,204}}</string>
				<key>offset</key>
				<string>{-12,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,579},{153,206}}</string>
				<key>offset</key>
				<string>{-13,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,152},{156,204}}</string>
				<key>offset</key>
				<string>{-12,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,388},{162,204}}</string>
				<key>offset</key>
				<string>{-12,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,853},{168,207}}</string>
				<key>offset</key>
				<string>{-12,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,429},{173,208}}</string>
				<key>offset</key>
				<string>{-12,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,216},{176,209}}</string>
				<key>offset</key>
				<string>{-12,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,643},{173,210}}</string>
				<key>offset</key>
				<string>{-11,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,857},{165,212}}</string>
				<key>offset</key>
				<string>{-8,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,2},{154,216}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,221},{146,220}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,2},{142,220}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,2},{146,220}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,2},{154,215}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,857},{165,212}}</string>
				<key>offset</key>
				<string>{-9,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_d_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,643},{173,210}}</string>
				<key>offset</key>
				<string>{-11,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,226}</string>
			</dict>
			<key>fish20_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,360},{111,199}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>
			<key>fish24.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,148},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Fish9.png</string>
			<key>realTextureFileName</key>
			<string>Fish9.png</string>
			<key>size</key>
			<string>{944,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>944</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>