<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/csd/res/ani/pic/common/fang/f02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,1},{95,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,96}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1899,99},{94,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,96}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1793,333},{96,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,95}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,234},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,95}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,724},{101,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,94}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,537},{101,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,92}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,537},{99,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,96}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,927},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,827},{96,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,98}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/fang/f11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,124},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,827},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,322},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,631},{96,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,94}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1831,223},{97,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,94}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1826,536},{97,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,93}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,431},{97,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,93}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,729},{96,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,93}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,197},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,729},{94,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,93}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hongkuang/x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1919,631},{94,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,93}</string>
			</dict>
			<key>game/csd/res/ani/pic/common/hgff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation01.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,996},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1695,451},{92,84}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,424},{111,100}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,665},{129,116}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,357},{145,130}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,783},{162,144}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,412},{174,156}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,216},{194,171}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation09.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,794},{203,181}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1},{213,188}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation11.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,232},{222,195}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation12.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,1},{229,202}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation13.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,269},{235,208}}</string>
				<key>offset</key>
				<string>{2,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation14.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,283},{241,212}}</string>
				<key>offset</key>
				<string>{2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/bengchu/radiation15.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,999},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/beijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,780},{160,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/daizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,133},{106,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,103}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/kouhou.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,979},{82,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,40}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/kouqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,979},{82,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,36}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/shenzi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1010},{13,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,48}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/shenzi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1010},{13,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,61}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_fudai/zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,977},{184,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,46}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_qiling/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1},{160,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,128}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_qiling/di3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,947},{160,64}}</string>
				<key>offset</key>
				<string>{0,32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,128}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_qiling/di4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,588},{160,66}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,128}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_qiling/img_YuanBao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,971},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,27}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_qiling/lian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,588},{88,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,55}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_qiling/xiaba.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,638},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,84}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_qiling/xiabu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,942},{107,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,74}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_qiling/zuichun.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,988},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_ruyi/Img_RuYi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,163},{130,112}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_SCATTER/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1785,1},{86,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,121}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_SCATTER/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1633,241},{99,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,109}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_SCATTER/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,133},{99,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,109}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_SCATTER/zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,988},{158,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,32}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l01.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1},{187,266}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,271}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,515},{186,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,295}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l03.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,803},{183,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,294}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l04.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,515},{180,292}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,296}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l05.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,802},{175,295}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,299}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l06.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,515},{182,292}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,296}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,807},{187,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,292}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l08.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{187,280}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,284}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l09.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,506},{186,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,262}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,456},{189,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,209}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/lvk/l11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,783},{186,230}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,237}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/ding.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,699},{190,91}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,102}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,195},{160,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/pen.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,699},{190,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,102}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/you.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,996},{26,101}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,101}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,996},{12,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,107}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xiang/zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,988},{30,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,100}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,971},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,971},{42,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,23}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,996},{43,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,25}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,779},{38,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,971},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,979},{50,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,43}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,979},{43,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,50}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,971},{29,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,54}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,996},{27,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,47}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,971},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,971},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,697},{137,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,103}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_xWILD/zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,697},{162,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,80}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_yu/Img_Yu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,588},{138,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_yu/Img_Yu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,656},{119,125}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_yuan/Img_YuanBao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,504},{117,82}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zhaocai/Img_ZhaoCai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,295},{127,110}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/A.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,694},{115,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,98}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/a4b44c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,728},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/dot00y.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,858},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/Img_A.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1},{130,109}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/Img_J.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,694},{87,122}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/Img_K.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,656},{122,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/Img_Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{1694,1},{89,118}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,132}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/J.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,504},{68,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,83}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/K.png</key>
			<dict>
				<key>frame</key>
				<string>{{1695,352},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,451},{83,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,92}</string>
			</dict>
			<key>game/csd/res/ani/pic/fx_zimu/saob.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,1},{192,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,164}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pic.png</string>
			<key>realTextureFileName</key>
			<string>pic.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>