<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.03.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,186},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.04.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,124},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.05.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,62},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.06.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,186},{36,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.07.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,124},{26,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.08.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,0},{14,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.09.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,186},{20,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.10.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{32,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.11.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{42,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.12.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,186},{50,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.13.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,0},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.16.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.17.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,62},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.18.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,62},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.19.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,0},{50,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.20.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,124},{42,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.21.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,62},{32,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.22.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,186},{20,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.23.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,62},{14,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.24.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,124},{26,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.25.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,186},{36,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.26.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,62},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.27.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,124},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.28.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,186},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>game/csd/res/ani/fx_jinbi/JingBi.29.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,124},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jinbi.png</string>
			<key>realTextureFileName</key>
			<string>jinbi.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>