<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_ajlb_ptzjkg_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{184,200}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,188},{184,200}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{184,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{200,182}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{200,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,188},{184,200}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_ajlb_ptzjkg_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_languang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80a1c9c9f7cedd51ff89721e678d714d$</string>
            <key>textureFileName</key>
            <string>icon_languang.png</string>
        </dict>
    </dict>
</plist>
