<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cdt_tb4/cdt_tbnn4 (1).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (2).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (3).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (4).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (5).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (6).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (7).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (8).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (9).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (10).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (11).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb4/cdt_tbnn4 (12).png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tbdb.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>440</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (1).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (2).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>856</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (3).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>856</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (4).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>1099</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (5).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>1099</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (6).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>1342</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (7).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (8).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>1342</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (9).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (10).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>1585</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (11).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>1171</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb3/cdt_tbnn3 (12).png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>1585</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb2/cdt_tbnn2 (1).png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1171</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb2/cdt_tbnn2 (2).png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1828</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb2/cdt_tbnn2 (3).png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1414</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb2/cdt_tbnn2 (4).png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1828</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb2/cdt_tbnn2 (5).png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1384</integer>
				<key>y</key>
				<integer>647</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb2/cdt_tbnn2 (6).png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1597</integer>
				<key>y</key>
				<integer>647</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb2/cdt_tbnn2 (7).png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>438</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cdt_tb2/cdt_tbnn2 (8).png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>657</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>cdt_tbnn0.png</string>
			<key>realTextureFileName</key>
			<string>cdt_tbnn0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>