<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mlcspic/bg_muit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1951,1},{550,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,73}</string>
			</dict>
			<key>mlcspic/btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,1910},{42,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,46}</string>
			</dict>
			<key>mlcspic/btn_auto_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1910},{127,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,59}</string>
			</dict>
			<key>mlcspic/btn_auto_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1910},{127,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,59}</string>
			</dict>
			<key>mlcspic/btn_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1910},{127,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,59}</string>
			</dict>
			<key>mlcspic/btn_start_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,1842},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>mlcspic/btn_sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1910},{43,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,45}</string>
			</dict>
			<key>mlcspic/closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1910},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>mlcspic/di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,158}</string>
			</dict>
			<key>mlcspic/dibtnbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,490},{297,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,65}</string>
			</dict>
			<key>mlcspic/dibtnbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,148},{364,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,123}</string>
			</dict>
			<key>mlcspic/inputbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,840},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>mlcspic/leftbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,1957},{84,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,78}</string>
			</dict>
			<key>mlcspic/mbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,1},{369,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{369,145}</string>
			</dict>
			<key>mlcspic/di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1},{1334,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,140}</string>
			</dict>
			<key>mlcspic/ml_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,591},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/ml_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,776},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/ml_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,961},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/ml_icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,1146},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/ml_icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,1331},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/ml_icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1725},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/ml_icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,1725},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/ml_icon_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,1725},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/ml_icon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1488},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>mlcspic/mlcsnpc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,161},{123,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,201}</string>
			</dict>
			<key>mlcspic/mlcsnpc_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,670},{111,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,215}</string>
			</dict>
			<key>mlcspic/mlcsnpc_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,1725},{115,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,223}</string>
			</dict>
			<key>mlcspic/mlcsnpc_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,342},{109,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,1842},{119,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,225}</string>
			</dict>
			<key>mlcspic/mlcsnpc_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,1842},{111,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,229}</string>
			</dict>
			<key>mlcspic/mlcsnpc_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,1725},{115,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,229}</string>
			</dict>
			<key>mlcspic/mlcsnpc_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1846},{117,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,229}</string>
			</dict>
			<key>mlcspic/mlcsnpc_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1725},{117,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,229}</string>
			</dict>
			<key>mlcspic/mlcsnpc_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,1844},{117,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,229}</string>
			</dict>
			<key>mlcspic/mlcsnpc_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1516},{119,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,161},{127,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,199}</string>
			</dict>
			<key>mlcspic/mlcsnpc_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1725},{119,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1846},{119,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1725},{119,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1516},{121,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1516},{119,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,225}</string>
			</dict>
			<key>mlcspic/mlcsnpc_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1337},{119,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,223}</string>
			</dict>
			<key>mlcspic/mlcsnpc_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,1337},{119,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,221}</string>
			</dict>
			<key>mlcspic/mlcsnpc_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1458},{119,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,217}</string>
			</dict>
			<key>mlcspic/mlcsnpc_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1474},{121,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,211}</string>
			</dict>
			<key>mlcspic/mlcsnpc_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,843},{121,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,189}</string>
			</dict>
			<key>mlcspic/mlcsnpc_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1092},{125,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,197}</string>
			</dict>
			<key>mlcspic/mlcsnpc_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,634},{121,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,189}</string>
			</dict>
			<key>mlcspic/mlcsnpc_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1215},{117,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,177}</string>
			</dict>
			<key>mlcspic/mlcsnpc_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1337},{149,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,189}</string>
			</dict>
			<key>mlcspic/mlcsnpc_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,1337},{139,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,213}</string>
			</dict>
			<key>mlcspic/mlcsnpc_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,1337},{125,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,225}</string>
			</dict>
			<key>mlcspic/mlcsnpc_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{133,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,225}</string>
			</dict>
			<key>mlcspic/mlcsnpc_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,273},{137,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,229}</string>
			</dict>
			<key>mlcspic/mlcsnpc_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,504},{143,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,1414},{135,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,225}</string>
			</dict>
			<key>mlcspic/mlcsnpc_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,1185},{135,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,423},{121,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,189}</string>
			</dict>
			<key>mlcspic/mlcsnpc_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,962},{139,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,221}</string>
			</dict>
			<key>mlcspic/mlcsnpc_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,733},{143,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,227}</string>
			</dict>
			<key>mlcspic/mlcsnpc_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,273},{155,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,229}</string>
			</dict>
			<key>mlcspic/mlcsnpc_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,430},{159,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,221}</string>
			</dict>
			<key>mlcspic/mlcsnpc_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1034},{123,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,179}</string>
			</dict>
			<key>mlcspic/mlcsnpc_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,825},{121,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,175}</string>
			</dict>
			<key>mlcspic/mlcsnpc_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,915},{141,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,175}</string>
			</dict>
			<key>mlcspic/mlcsnpc_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,887},{139,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,171}</string>
			</dict>
			<key>mlcspic/mlcsnpc_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,670},{139,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,171}</string>
			</dict>
			<key>mlcspic/mlcsnpc_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,736},{141,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,177}</string>
			</dict>
			<key>mlcspic/mlcsnpc_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,286},{135,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,173}</string>
			</dict>
			<key>mlcspic/mlcsnpc_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,362},{141,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,179}</string>
			</dict>
			<key>mlcspic/mlcsnpc_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,1516},{131,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,193}</string>
			</dict>
			<key>mlcspic/mlcsnpc_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,543},{131,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>mlcspic/mlcsnpc_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1560},{135,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,191}</string>
			</dict>
			<key>mlcspic/mlcsnpc_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,161},{141,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,179}</string>
			</dict>
			<key>mlcspic/mlcsnpc_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,1641},{131,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,197}</string>
			</dict>
			<key>mlcspic/mlcsnpc_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1516},{131,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,197}</string>
			</dict>
			<key>mlcspic/mlcsnpc_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1337},{135,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,191}</string>
			</dict>
			<key>mlcspic/mlcsnpc_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1092},{127,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,193}</string>
			</dict>
			<key>mlcspic/mlcsnpc_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,543},{125,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,199}</string>
			</dict>
			<key>mlcspic/mlcsnpc_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,453},{131,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,179}</string>
			</dict>
			<key>mlcspic/mlcsnpc_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1060},{123,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,187}</string>
			</dict>
			<key>mlcspic/mlcsnpc_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,276},{121,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,189}</string>
			</dict>
			<key>mlcspic/mlcsnpc_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,161},{113,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,205}</string>
			</dict>
			<key>mlcspic/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,674},{64,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,35}</string>
			</dict>
			<key>mlcspic/mxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,490},{108,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,29}</string>
			</dict>
			<key>mlcspic/myl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,600},{80,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,29}</string>
			</dict>
			<key>mlcspic/new_backbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,161},{107,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,110}</string>
			</dict>
			<key>mlcspic/new_helpbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,614},{107,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,110}</string>
			</dict>
			<key>mlcspic/new_settingbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,399},{107,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,110}</string>
			</dict>
			<key>mlcspic/right.png</key>
			<dict>
				<key>frame</key>
				<string>{{2026,1},{22,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,16}</string>
			</dict>
			<key>mlcspic/setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,591},{81,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,36}</string>
			</dict>
			<key>mlcspic/slot_freespins.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,1},{487,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{487,99}</string>
			</dict>
			<key>mlcspic/voiceword.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,740},{64,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,35}</string>
			</dict>
			<key>mlcspic/x1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1430},{52,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>mlcspic/x1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1484},{51,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,37}</string>
			</dict>
			<key>mlcspic/x15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,962},{102,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,37}</string>
			</dict>
			<key>mlcspic/x15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1066},{102,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,37}</string>
			</dict>
			<key>mlcspic/x2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1236},{63,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,38}</string>
			</dict>
			<key>mlcspic/x2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1367},{61,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,38}</string>
			</dict>
			<key>mlcspic/x25_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,553},{122,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,37}</string>
			</dict>
			<key>mlcspic/x25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,677},{122,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,37}</string>
			</dict>
			<key>mlcspic/x3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1170},{64,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,37}</string>
			</dict>
			<key>mlcspic/x3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1301},{64,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,37}</string>
			</dict>
			<key>mlcspic/speed.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1637},{142,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,63}</string>
			</dict>
			<key>mlcspic/tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,1971},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>mlcspic/tips_laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,806},{34,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,32}</string>
			</dict>
			<key>mlcspic/bg_water_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,553},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,787},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,801},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,789},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,1021},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,1035},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,1023},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,1255},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,1269},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,1257},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1903,1489},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,1503},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,1491},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1723},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1964,1737},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1971},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1971},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1971},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1971},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1971},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,1971},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1971},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,1957},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/bg_water_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1641},{60,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,232}</string>
			</dict>
			<key>mlcspic/light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1910},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>mlcspic/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1637},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mlcs.png</string>
			<key>realTextureFileName</key>
			<string>mlcs.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>