<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>4/cdt_sgkh4_4.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>36.5</real>
				<key>offsetY</key>
				<real>41</real>
			</dict>
			<key>4/cdt_sgkh4_1.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>cdt_sgkh0.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>435</integer>
				<key>originalWidth</key>
				<integer>274</integer>
				<key>originalHeight</key>
				<integer>435</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>3/cdt_sgkh3_1.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>3/cdt_sgkh3_2.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>43.5</real>
			</dict>
			<key>2/cdt_sgkh2_3.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-43</real>
			</dict>
			<key>2/cdt_sgkh2_1.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>1/cdt_sgkh1_2.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>623</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>39</real>
			</dict>
			<key>1/cdt_sgkh1_1.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>cdt_sgkh0.png</string>
			<key>realTextureFileName</key>
			<string>cdt_sgkh0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>