<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mjhl_csi/bonus_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1},{750,649}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,649}</string>
			</dict>
			<key>mjhl_csi/icon_golden_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,1768},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_golden_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1703,1768},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_golden_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_golden_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,153},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_golden_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,305},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_golden_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,457},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_golden_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,609},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_golden_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,761},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,913},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1065},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1217},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1369},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1635},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,182},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,363},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,544},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/icon_white_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,725},{150,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,179}</string>
			</dict>
			<key>mjhl_csi/mahjong_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1521},{102,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,63}</string>
			</dict>
			<key>mjhl_csi/mahjong_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1107},{102,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,63}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1816},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_add1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,1816},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1107},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_auto_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1336},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,906},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_del.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,1635},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_del1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1521},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1172},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_help1.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1176},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,721},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_max_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1405},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1252},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>mjhl_csi/mahjong_btn_set1.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1256},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>mjhl_csi/mahjong_help_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1670},{750,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,112}</string>
			</dict>
			<key>mjhl_csi/mahjong_img_betbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1955},{230,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,52}</string>
			</dict>
			<key>mjhl_csi/mahjong_img_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,965},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>mjhl_csi/mahjong_img_coinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,1955},{230,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,52}</string>
			</dict>
			<key>mjhl_csi/mahjong_img_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,1602},{111,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,45}</string>
			</dict>
			<key>mjhl_csi/mahjong_img_totalbetbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,1955},{230,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,52}</string>
			</dict>
			<key>mjhl_csi/mahjong_img_uncheck.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1017},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>mjhl_csi/mahjong_label_curWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1931},{475,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{475,115}</string>
			</dict>
			<key>mjhl_csi/mahjong_label_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,1715},{116,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,38}</string>
			</dict>
			<key>mjhl_csi/mahjong_label_road.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,1602},{351,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,44}</string>
			</dict>
			<key>mjhl_csi/mahjong_label_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,1833},{84,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,36}</string>
			</dict>
			<key>mjhl_csi/mahjong_multi_gold_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,600},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multi_gold_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,715},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multi_gold_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,830},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multi_gold_x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,945},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multi_gray_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1060},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multi_gray_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1175},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multi_gray_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1290},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multi_gray_x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1405},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multifree_gold_x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1520},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multifree_gold_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,1741},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multifree_gold_x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1627},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multifree_gold_x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1627},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multifree_gray_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1521},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multifree_gray_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,906},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multifree_gray_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,973},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mahjong_multifree_gray_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1040},{113,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,65}</string>
			</dict>
			<key>mjhl_csi/mj_avatar_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,1955},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>mjhl_csi/mj_btn_quick.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1409},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>mjhl_csi/mj_btn_quick_ight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,652},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>mjhl_csi/mj_img_blzdf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1899,1768},{230,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,52}</string>
			</dict>
			<key>mjhl_csi/mj_img_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1166},{750,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,600}</string>
			</dict>
			<key>mjhl_csi/mj_img_mfbldf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1},{230,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,52}</string>
			</dict>
			<key>mjhl_csi/mj_img_mfzf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,233},{230,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,52}</string>
			</dict>
			<key>mjhl_csi/mj_label_lefttime.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1768},{346,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,162}</string>
			</dict>
			<key>mjhl_csi/mj_label_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,1808},{95,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,51}</string>
			</dict>
			<key>mjhl_csi/mj_tips_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1860},{935,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{935,69}</string>
			</dict>
			<key>mjhl_csi/mj_tips_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1931},{723,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{723,80}</string>
			</dict>
			<key>mjhl_csi/mj_tips_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1784},{928,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{928,74}</string>
			</dict>
			<key>mjhl_csi/mj_tips_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,1166},{434,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{434,63}</string>
			</dict>
			<key>mjhl_csi/mj_tips_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,1},{583,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{583,63}</string>
			</dict>
			<key>mjhl_csi/mj_tips_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,586},{578,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,63}</string>
			</dict>
			<key>mjhl_csi/mahjong_bg_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,465},{57,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,133}</string>
			</dict>
			<key>mjhl_csi/tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1332},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>mjhl_csi/tips_laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2013},{34,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,32}</string>
			</dict>
			<key>mjhl_csi/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,2013},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>
			<key>mjhl_csi/gamebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{750,1667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{750,1667}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mjhlhetu.png</string>
			<key>realTextureFileName</key>
			<string>mjhlhetu.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>