<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>jldb/scene1/btn_addb_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,1356},{59,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{59,58}</string>
      </dict>
      <key>jldb/scene1/btn_addb_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1238,1846},{59,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{59,58}</string>
      </dict>
      <key>jldb/scene1/btn_back_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1864},{60,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{60,62}</string>
      </dict>
      <key>jldb/scene1/btn_close_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,1238},{31,31}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>jldb/scene1/btn_close_p.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,1271},{31,31}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>jldb/scene1/btn_entersence2_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,1517},{116,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>jldb/scene1/btn_entersence2_p.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,877},{116,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>jldb/scene1/btn_max_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,1863},{111,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,59}</string>
      </dict>
      <key>jldb/scene1/btn_max_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,1863},{111,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,59}</string>
      </dict>
      <key>jldb/scene1/btn_max_p.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,1864},{111,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,59}</string>
      </dict>
      <key>jldb/scene1/btn_odds_back_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1969,979},{149,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{149,61}</string>
      </dict>
      <key>jldb/scene1/btn_odds_back_p.png</key>
      <dict>
        <key>frame</key>
        <string>{{1201,1050},{149,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{149,61}</string>
      </dict>
      <key>jldb/scene1/game_flash.png</key>
      <dict>
        <key>frame</key>
        <string>{{1810,1927},{199,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,80}</string>
      </dict>
      <key>jldb/scene1/game1_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2011,1927},{74,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{74,34}</string>
      </dict>
      <key>jldb/scene1/game2_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2011,810},{123,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{123,35}</string>
      </dict>
      <key>jldb/scene1/gold0.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1225},{24,34}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{33,35}</string>
      </dict>
      <key>jldb/scene1/gold1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2011,2003},{33,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{33,35}</string>
      </dict>
      <key>jldb/scene1/gold2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2011,935},{33,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{33,35}</string>
      </dict>
      <key>jldb/scene1/gold3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1225},{29,35}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{33,35}</string>
      </dict>
      <key>jldb/scene1/jackpot.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,552},{702,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{702,113}</string>
      </dict>
      <key>jldb/scene1/jifen.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,1876},{79,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{79,39}</string>
      </dict>
      <key>jldb/scene1/line_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,1},{629,549}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{629,549}</string>
      </dict>
      <key>jldb/scene1/line_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1419,1},{629,549}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{629,549}</string>
      </dict>
      <key>jldb/scene1/line_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1889,632},{638,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{638,38}</string>
      </dict>
      <key>jldb/scene1/line_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1929,632},{38,549}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{38,549}</string>
      </dict>
      <key>jldb/scene1/logo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1238,1423},{254,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{254,133}</string>
      </dict>
      <key>jldb/scene1/net_coin_name.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,1864},{42,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{42,39}</string>
      </dict>
      <key>jldb/scene1/operation_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1388,1306},{283,592}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{283,593}</string>
      </dict>
      <key>jldb/scene1/playerInfo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,569},{287,306}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{287,306}</string>
      </dict>
      <key>jldb/scene1/point_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1969,738},{239,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{239,40}</string>
      </dict>
      <key>jldb/scene1/pot_open_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1927},{601,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{601,83}</string>
      </dict>
      <key>jldb/scene1/pot_open_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,1927},{601,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{601,83}</string>
      </dict>
      <key>jldb/scene1/pot_open_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1207,1927},{601,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{601,83}</string>
      </dict>
      <key>jldb/scene1/power_bglight.png</key>
      <dict>
        <key>frame</key>
        <string>{{1713,2012},{171,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{171,24}</string>
      </dict>
      <key>jldb/scene1/reward_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,569},{287,306}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{287,306}</string>
      </dict>
      <key>jldb/scene1/single_coin_name.png</key>
      <dict>
        <key>frame</key>
        <string>{{1886,2009},{35,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{35,45}</string>
      </dict>
      <key>jldb/scene1/slot_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{785,566}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{785,566}</string>
      </dict>
      <key>jldb/scene1/slot_boarder.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,1704},{194,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{194,170}</string>
      </dict>
      <key>jldb/scene1/tongban.png</key>
      <dict>
        <key>frame</key>
        <string>{{2024,772},{36,16}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,16}</string>
      </dict>
      <key>jldb/scene1/win_coin.png</key>
      <dict>
        <key>frame</key>
        <string>{{1970,1},{735,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{735,65}</string>
      </dict>
      <key>jldb/scene1/xiegang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1403,552},{13,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{13,23}</string>
      </dict>
      <key>jldb/scene2/dice/r_wht_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,569},{84,92}}</string>
        <key>offset</key>
        <string>{5,3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>jldb/scene2/dice/r_wht_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,1635},{95,93}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>jldb/scene2/dice/r_wht_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1929,1183},{93,87}}</string>
        <key>offset</key>
        <string>{-2,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>jldb/scene2/dice/r_wht_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{1201,1201},{84,93}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>jldb/scene2/dice/r_wht_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,1757},{95,95}}</string>
        <key>offset</key>
        <string>{-2,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>jldb/scene2/dice/r_wht_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,1256},{99,98}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>jldb/scene2/dice/r_wht_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,1757},{97,97}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>jldb/scene2/big_result.png</key>
      <dict>
        <key>frame</key>
        <string>{{1969,1130},{48,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{48,68}</string>
      </dict>
      <key>jldb/scene2/BigBtn_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,1225},{290,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{290,250}</string>
      </dict>
      <key>jldb/scene2/CompDoubleBtn_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,1560},{125,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{125,41}</string>
      </dict>
      <key>jldb/scene2/CompDoubleBtn_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1840,1416},{125,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{125,41}</string>
      </dict>
      <key>jldb/scene2/CompDoubleBtn_s.png</key>
      <dict>
        <key>frame</key>
        <string>{{1840,1543},{125,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{125,41}</string>
      </dict>
      <key>jldb/scene2/CompHalfBtn_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,1864},{125,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{125,41}</string>
      </dict>
      <key>jldb/scene2/CompHalfBtn_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1238,1296},{125,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{125,41}</string>
      </dict>
      <key>jldb/scene2/CompHalfBtn_s.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,1328},{125,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{125,41}</string>
      </dict>
      <key>jldb/scene2/CompNormalBtn_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,1306},{125,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{125,42}</string>
      </dict>
      <key>jldb/scene2/CompNormalBtn_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,1876},{125,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{125,42}</string>
      </dict>
      <key>jldb/scene2/CompNormalBtn_s.png</key>
      <dict>
        <key>frame</key>
        <string>{{1673,1433},{125,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{125,42}</string>
      </dict>
      <key>jldb/scene2/dffd_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,2012},{854,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{854,17}</string>
      </dict>
      <key>jldb/scene2/dffd_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,2012},{854,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{854,17}</string>
      </dict>
      <key>jldb/scene2/dffd_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1206},{854,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{854,17}</string>
      </dict>
      <key>jldb/scene2/Win_small.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,1517},{154,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{154,154}</string>
      </dict>
      <key>jldb/scene2/youlose.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1256},{493,381}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{493,381}</string>
      </dict>
      <key>jldb/scene2/youwin.png</key>
      <dict>
        <key>frame</key>
        <string>{{1403,632},{672,328}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{672,328}</string>
      </dict>
      <key>jldb/scene1/stencil.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,1679},{189,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{189,165}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1933,2009},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{50,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2024,738},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,1225},{28,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{50,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1296},{30,32}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{49,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,1225},{29,32}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{50,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,1225},{28,32}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{49,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1840,1670},{31,32}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{50,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,1225},{26,32}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{49,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1967,2009},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{50,32}</string>
      </dict>
      <key>jldb/scene1/poolprize_coin_num_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,1205},{31,32}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{49,32}</string>
      </dict>
      <key>jldb/ani/all_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1733,632},{782,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{782,154}</string>
      </dict>
      <key>jldb/ani/all_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,877},{526,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{526,158}</string>
      </dict>
      <key>jldb/ani/all_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1050},{656,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{656,154}</string>
      </dict>
      <key>jldb/ani/all_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1751},{657,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{657,153}</string>
      </dict>
      <key>jldb/ani/all_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,1205},{657,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{657,153}</string>
      </dict>
      <key>jldb/ani/all_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1889,1272},{653,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{653,155}</string>
      </dict>
      <key>jldb/ani/all_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,1205},{656,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{656,153}</string>
      </dict>
      <key>jldb/ani/all_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,1050},{540,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{540,153}</string>
      </dict>
      <key>jldb/ani/all_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,1225},{530,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{530,158}</string>
      </dict>
      <key>jldb/ani/binli.png</key>
      <dict>
        <key>frame</key>
        <string>{{1717,1416},{286,121}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{300,225}</string>
      </dict>
      <key>jldb/ani/che.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,552},{498,496}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>respak.png</string>
      <key>realTextureFileName</key>
      <string>respak.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>2048</integer>
      <key>height</key>
      <integer>2048</integer>
    </dict>
  </dict>
</plist>

