<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Img_Bj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,637},{506,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,368}}</string>
                <key>sourceSize</key>
                <string>{506,368}</string>
            </dict>
            <key>Img_Bj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1391},{237,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,344}}</string>
                <key>sourceSize</key>
                <string>{237,344}</string>
            </dict>
            <key>Img_CaiJinXuanZeBj.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1391},{435,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,39}}</string>
                <key>sourceSize</key>
                <string>{435,39}</string>
            </dict>
            <key>Img_DangQianTuAn.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1007},{494,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,66}}</string>
                <key>sourceSize</key>
                <string>{494,66}</string>
            </dict>
            <key>Img_DengLong.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1316},{63,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,117}}</string>
                <key>sourceSize</key>
                <string>{63,117}</string>
            </dict>
            <key>Img_JinBiYingBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1239},{31,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>Img_JinDuTiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{184,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,15}}</string>
                <key>sourceSize</key>
                <string>{184,15}</string>
            </dict>
            <key>Img_JinDuTiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1828},{248,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,45}}</string>
                <key>sourceSize</key>
                <string>{248,45}</string>
            </dict>
            <key>Img_PaiMing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1075},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>Img_PaiMing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1075},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>Img_PaiMing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1075},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>Img_Pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1846},{190,129}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,118},{190,129}}</string>
                <key>sourceSize</key>
                <string>{190,247}</string>
            </dict>
            <key>Img_Shang.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{134,596},{1280,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,74}}</string>
                <key>sourceSize</key>
                <string>{1280,74}</string>
            </dict>
            <key>Img_TiShiKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1055},{334,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,131}}</string>
                <key>sourceSize</key>
                <string>{334,131}</string>
            </dict>
            <key>Img_TouZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1240},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>Img_Xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{1280,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,130}}</string>
                <key>sourceSize</key>
                <string>{1280,130}</string>
            </dict>
            <key>Img_XuWei.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1316},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>Img_XuanZhuan_WuXian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1878},{180,167}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{180,167}}</string>
                <key>sourceSize</key>
                <string>{190,177}</string>
            </dict>
            <key>Img_YingZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1131},{290,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,103}}</string>
                <key>sourceSize</key>
                <string>{290,103}</string>
            </dict>
            <key>Img_You.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,637},{145,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,492}}</string>
                <key>sourceSize</key>
                <string>{145,492}</string>
            </dict>
            <key>Img_Zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{993,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{993,592}}</string>
                <key>sourceSize</key>
                <string>{993,592}</string>
            </dict>
            <key>Img_ZongTouZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1236},{272,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,106}}</string>
                <key>sourceSize</key>
                <string>{272,106}</string>
            </dict>
            <key>Img_ZuiDaHuoDeCaiJin.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1816},{202,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,28}}</string>
                <key>sourceSize</key>
                <string>{202,28}</string>
            </dict>
            <key>but_ErShi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1075},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{52,41}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>but_ErShi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1075},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{56,43}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>but_FanHui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1247},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{67,37}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>but_FanHui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1128},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>but_GongXiFaCai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{180,167}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{180,167}}</string>
                <key>sourceSize</key>
                <string>{190,177}</string>
            </dict>
            <key>but_GuiZe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1737},{113,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{113,77}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>but_GuiZe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1737},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>but_Jia01.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1706},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>but_Jia02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1315},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>but_Jian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1176},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>but_Jian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1173},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>but_SheZhi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1270},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>but_SheZhi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1816},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
            <key>but_WuShi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1075},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{52,41}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>but_WuShi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1128},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{56,43}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>but_WuXian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1828},{86,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{86,47}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>but_WuXian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1075},{92,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{92,49}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>but_XuanZhuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1344},{174,167}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{174,167}}</string>
                <key>sourceSize</key>
                <string>{190,177}</string>
            </dict>
            <key>but_XuanZhuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1520},{184,177}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{184,177}}</string>
                <key>sourceSize</key>
                <string>{190,177}</string>
            </dict>
            <key>but_XuanZhuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1875},{174,167}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{174,167}}</string>
                <key>sourceSize</key>
                <string>{190,177}</string>
            </dict>
            <key>but_XuanZhuan_ZiDong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1875},{178,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{178,167}}</string>
                <key>sourceSize</key>
                <string>{190,177}</string>
            </dict>
            <key>but_XuanZhuan_ZiDong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1075},{188,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,177}}</string>
                <key>sourceSize</key>
                <string>{190,177}</string>
            </dict>
            <key>but_YiBai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1240},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{74,41}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>but_YiBai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1737},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{78,43}}</string>
                <key>sourceSize</key>
                <string>{118,49}</string>
            </dict>
            <key>but_ZuiDaTouZhu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,990},{142,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{142,63}}</string>
                <key>sourceSize</key>
                <string>{150,67}</string>
            </dict>
            <key>but_ZuiDaTouZhu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,596},{150,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,67}}</string>
                <key>sourceSize</key>
                <string>{150,67}</string>
            </dict>
            <key>but_ZuiDaTouZhu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,925},{142,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{142,63}}</string>
                <key>sourceSize</key>
                <string>{150,67}</string>
            </dict>
            <key>but_max_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,860},{142,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{142,63}</string>
            </dict>
            <key>but_max_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,795},{142,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{142,63}</string>
            </dict>
            <key>but_speed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,730},{142,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{142,63}</string>
            </dict>
            <key>but_speed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,665},{142,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{142,63}</string>
            </dict>
            <key>denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1737},{89,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,65}}</string>
                <key>sourceSize</key>
                <string>{89,65}</string>
            </dict>
            <key>img_PaoMaDeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1201},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>img_PaoMaDengDi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,596},{635,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,39}}</string>
                <key>sourceSize</key>
                <string>{635,39}</string>
            </dict>
            <key>img_WuXian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1129},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87e0b725ca8ffde00ab847d34938220f$</string>
            <key>textureFileName</key>
            <string>scene.png</string>
        </dict>
    </dict>
</plist>
