<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,205},{128,106}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{128,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,390},{118,98}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{118,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,386},{134,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{134,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{116,126}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{116,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>BackPlaneImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,201}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{389,201}}</string>
                <key>sourceSize</key>
                <string>{389,209}</string>
            </dict>
            <key>CapImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,490},{174,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,100}}</string>
                <key>sourceSize</key>
                <string>{174,100}</string>
            </dict>
            <key>FireworksImage0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,335},{102,49}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,49}}</string>
                <key>sourceSize</key>
                <string>{122,51}</string>
            </dict>
            <key>FireworksImage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,518},{98,49}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{98,49}}</string>
                <key>sourceSize</key>
                <string>{122,51}</string>
            </dict>
            <key>FireworksImage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,179},{114,45}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{114,45}}</string>
                <key>sourceSize</key>
                <string>{122,51}</string>
            </dict>
            <key>FireworksImage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,130},{114,47}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{114,47}}</string>
                <key>sourceSize</key>
                <string>{122,51}</string>
            </dict>
            <key>GunImage0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{145,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,243}}</string>
                <key>sourceSize</key>
                <string>{145,243}</string>
            </dict>
            <key>GunImage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{145,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,243}}</string>
                <key>sourceSize</key>
                <string>{145,243}</string>
            </dict>
            <key>LogAnime.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,226},{118,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{118,162}}</string>
                <key>sourceSize</key>
                <string>{126,168}</string>
            </dict>
            <key>StartImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{274,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,154}}</string>
                <key>sourceSize</key>
                <string>{274,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb5bd945ba8e219ed558ac555f9783c2$</string>
            <key>textureFileName</key>
            <string>anim.png</string>
        </dict>
    </dict>
</plist>
