<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1320},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1440},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1560},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1680},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1800},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1920},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.18.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.19.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.20.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.21.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.22.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.23.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/YaoShi.24.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.01.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.10.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.11.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.12.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,360},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.13.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,480},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.14.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,600},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.15.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,720},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.16.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,840},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.17.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,960},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.18.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1080},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.19.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1200},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.20.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1320},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.21.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1440},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.22.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1560},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.23.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1680},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/Yu.24.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1800},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.30.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,1920},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.31.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.32.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.33.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.34.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.35.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.36.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.37.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,120},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.46.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.47.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,360},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.48.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,480},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.49.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,600},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.50.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,720},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.51.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,840},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.52.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,960},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.53.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1080},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.54.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1200},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.55.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1320},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.56.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1440},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.57.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1560},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.58.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1680},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZhengZhu.59.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1800},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.01.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1920},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.02.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.03.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.04.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.05.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.06.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.07.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,240},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.16.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,360},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.17.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,480},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.18.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,600},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.19.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,720},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.20.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,840},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.21.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,960},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.22.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,1080},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.23.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,1200},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Game/LHDB/Gems/NewBaoShi/ZiBaoShi.24.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,1320},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gems4.png</string>
			<key>realTextureFileName</key>
			<string>gems4.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>