<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tggpic/addbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,1},{342,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{342,75}</string>
			</dict>
			<key>tggpic/bottom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1},{1334,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,147}</string>
			</dict>
			<key>tggpic/Btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,897},{173,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,92}</string>
			</dict>
			<key>tggpic/Btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,650},{206,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,92}</string>
			</dict>
			<key>tggpic/btn_tzzd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,1082},{189,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,51}</string>
			</dict>
			<key>tggpic/btn-100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,1337},{150,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,62}</string>
			</dict>
			<key>tggpic/btn-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1602},{150,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,62}</string>
			</dict>
			<key>tggpic/btn-50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1754},{150,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,62}</string>
			</dict>
			<key>tggpic/btnadd.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,1337},{122,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,71}</string>
			</dict>
			<key>tggpic/btnback.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,1602},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>
			<key>tggpic/btnclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1757},{63,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,67}</string>
			</dict>
			<key>tggpic/btnhelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1602},{81,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,86}</string>
			</dict>
			<key>tggpic/btnsetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1602},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>
			<key>tggpic/btnsub.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{117,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,77}</string>
			</dict>
			<key>tggpic/btn-wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1489},{150,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,62}</string>
			</dict>
			<key>tggpic/card_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1827},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1827},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1827},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1827},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,1827},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1579},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1489},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1035},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1257},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/card_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,567},{232,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,220}</string>
			</dict>
			<key>tggpic/changanzidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,1082},{90,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,26}</string>
			</dict>
			<key>tggpic/bottom0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1827},{214,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,297}</string>
			</dict>
			<key>tggpic/bottom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,148}</string>
			</dict>
			<key>tggpic/font_zdyz.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1489},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>tggpic/font_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,1174},{47,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,27}</string>
			</dict>
			<key>tggpic/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,1543},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>
			<key>tggpic/gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,1},{22,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,16}</string>
			</dict>
			<key>tggpic/lqs_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1727},{37,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,46}</string>
			</dict>
			<key>tggpic/lqs_bottom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1486,1},{1334,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,97}</string>
			</dict>
			<key>tggpic/lqs_btn_cs10.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1766},{45,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,34}</string>
			</dict>
			<key>tggpic/lqs_btn_cs100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,1273},{67,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,34}</string>
			</dict>
			<key>tggpic/lqs_btn_cs30.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1766},{46,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,34}</string>
			</dict>
			<key>tggpic/lqs_btn_cs50.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1543},{46,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,33}</string>
			</dict>
			<key>tggpic/lqs_btn_cswx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1456},{57,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,30}</string>
			</dict>
			<key>tggpic/lqs_btn_ksks2.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,1600},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>
			<key>tggpic/lqs_img_dxdf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,858},{222,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,79}</string>
			</dict>
			<key>tggpic/lqs_img_jbk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,1072},{250,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,45}</string>
			</dict>
			<key>tggpic/lqs_img_jj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,639},{256,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,85}</string>
			</dict>
			<key>tggpic/lqs_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,25},{18,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,16}</string>
			</dict>
			<key>tggpic/lqs_set_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1525},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>tggpic/lqs_set_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1689},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>tggpic/lqs_set_gou_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,1723},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>tggpic/lqs_yellow_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,968},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>
			<key>tggpic/lqs_yf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,924},{42,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,20}</string>
			</dict>
			<key>tggpic/lqs_zyz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,858},{64,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,20}</string>
			</dict>
			<key>tggpic/lu243.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,1451},{31,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,149}</string>
			</dict>
			<key>tggpic/seletedbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1689},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>tggpic/timebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,270},{378,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{378,105}</string>
			</dict>
			<key>tggpic/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,345},{292,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,81}</string>
			</dict>
			<key>tggpic/wsetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1553},{85,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,45}</string>
			</dict>
			<key>tggpic/wyinxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,1553},{104,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,35}</string>
			</dict>
			<key>tggpic/wyinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1690},{95,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,35}</string>
			</dict>
			<key>tggpic/zi_kaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1489},{96,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,52}</string>
			</dict>
			<key>tggpic/zi_tingzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,1691},{96,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,52}</string>
			</dict>
			<key>tggpic/zubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,1072},{243,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,54}</string>
			</dict>
			<key>tggpic/zyazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,1337},{112,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,44}</string>
			</dict>
			<key>tggpic/tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1745},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>tggpic/tips_laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1489},{34,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,32}</string>
			</dict>
			<key>tggpic/clip_symbol_F_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1213},{201,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,1827},{205,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,207}</string>
			</dict>
			<key>tggpic/clip_symbol_F_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,567},{203,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,151},{205,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,151},{201,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,775},{203,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,801},{201,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,207}</string>
			</dict>
			<key>tggpic/clip_symbol_F_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1010},{201,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,207}</string>
			</dict>
			<key>tggpic/clip_symbol_F_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,354},{201,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1191},{202,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,151},{199,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,801},{202,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,983},{203,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,206}</string>
			</dict>
			<key>tggpic/clip_symbol_F_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,359},{205,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,206}</string>
			</dict>
			<key>tggpic/clip_symbol_W_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1191},{320,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,261}</string>
			</dict>
			<key>tggpic/clip_symbol_W_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,270},{376,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,259}</string>
			</dict>
			<key>tggpic/clip_symbol_W_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,1026},{376,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,257}</string>
			</dict>
			<key>tggpic/clip_symbol_W_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,648},{376,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,259}</string>
			</dict>
			<key>tggpic/clip_symbol_W_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1489},{330,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,269}</string>
			</dict>
			<key>tggpic/clip_symbol_W_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,1774},{344,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,263}</string>
			</dict>
			<key>tggpic/clip_symbol_W_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,1},{366,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,267}</string>
			</dict>
			<key>tggpic/clip_symbol_W_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1489},{334,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,263}</string>
			</dict>
			<key>tggpic/clip_symbol_W_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,447},{290,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,261}</string>
			</dict>
			<key>tggpic/clip_symbol_W_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,151},{294,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,263}</string>
			</dict>
			<key>tggpic/clip_symbol_W_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,739},{294,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,257}</string>
			</dict>
			<key>tggpic/clip_symbol_W_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,1404},{368,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,259}</string>
			</dict>
			<key>tggpic/freegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,1324},{501,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{501,173}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tgghetu.png</string>
			<key>realTextureFileName</key>
			<string>tgghetu.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>