<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,193},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,384},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,193},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,192},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,383},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,1},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,192},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,192},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,192},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,383},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,192},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,192},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,383},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/liuguang/lg_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,192},{189,72}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>game/csd/res/ani/fx_luzi_liuguang/diguagn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{190,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,109}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>liuguang.png</string>
			<key>realTextureFileName</key>
			<string>liuguang.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>