<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mjhl_2.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>mjhl_3 (1).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (2).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (3).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (4).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>154</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (5).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>154</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (6).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (7).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (8).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (9).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (10).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>308</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (11).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_3 (12).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>431</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>mjhl_1 (1).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (2).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (3).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>307</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (4).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (5).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (6).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (7).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (8).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (9).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (10).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (11).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>627</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>mjhl_1 (12).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zdt_mjhl0.png</string>
			<key>realTextureFileName</key>
			<string>zdt_mjhl0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>