<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Game/LHDB/Scene/but_GuanBi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,645},{58,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,56}</string>
			</dict>
			<key>Game/LHDB/Scene/but_GuanBi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,709},{58,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,56}</string>
			</dict>
			<key>Game/LHDB/Scene/but_GuanBi1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,266},{74,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,243}</string>
			</dict>
			<key>Game/LHDB/Scene/but_GuanBi1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,260},{74,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,243}</string>
			</dict>
			<key>Game/LHDB/Scene/but_HuaDongAnNiu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1486,984},{28,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_HuaDongAnNiu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1807,992},{28,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_Jia_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,630},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>Game/LHDB/Scene/but_Jia_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,633},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>Game/LHDB/Scene/but_Jia_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,489},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>Game/LHDB/Scene/but_Jian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,489},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>Game/LHDB/Scene/but_Jian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,567},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>Game/LHDB/Scene/but_Jian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,567},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>Game/LHDB/Scene/but_JiXuYouXi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,152},{238,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,112}</string>
			</dict>
			<key>Game/LHDB/Scene/but_JiXuYouXi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,4},{238,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,112}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_DaTing_LingLongDou.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,709},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_DiErGuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1806,480},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_DiSanGuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,4},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_DiYiGuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,124},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Gang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,799},{186,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,122}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Gang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,124},{186,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,122}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Gang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,152},{186,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,122}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Gang_TouYing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,517},{138,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,52}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_HuaDongTiao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,985},{208,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,26}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_HuaDongTiao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,985},{208,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,26}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_JinBi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2014,837},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_JiZhongLeiJiJiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,372},{186,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,52}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Level_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,128},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Level_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,248},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Level_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,252},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_LongZhu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,758},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_LongZhu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,758},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_ShiPing.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,457},{100,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,40}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Tip_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,282},{222,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,55}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Tip_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,394},{222,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,55}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Tip_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,520},{222,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,55}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Tip_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,4},{391,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{391,101}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_WoDeChaiFu.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,985},{102,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,28}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_XiangZi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,678},{52,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,38}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_XiangZi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,992},{33,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,24}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_XianShuBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,152},{266,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,48}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_XiaZhuBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,4},{200,468}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,468}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_XiaZhuHeiDi.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{380,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,720}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_YaoShi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,580},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_YaoShi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,645},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Zi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,937},{74,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,244}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_ZongTouZhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,984},{76,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,28}</string>
			</dict>
			<key>Game/LHDB/Scene/WenZiTiShi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,937},{255,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,39}</string>
			</dict>
			<key>Game/LHDB/Scene/but_BangZhu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,282},{114,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,111}</string>
			</dict>
			<key>Game/LHDB/Scene/but_BangZhu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,401},{114,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,111}</string>
			</dict>
			<key>Game/LHDB/Scene/but_FanHui_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,511},{114,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,111}</string>
			</dict>
			<key>Game/LHDB/Scene/but_FanHui_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,511},{114,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,111}</string>
			</dict>
			<key>Game/LHDB/Scene/but_KaiShi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,789},{256,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,140}</string>
			</dict>
			<key>Game/LHDB/Scene/but_KaiShi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,781},{256,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,140}</string>
			</dict>
			<key>Game/LHDB/Scene/but_SheZhi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,272},{114,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,111}</string>
			</dict>
			<key>Game/LHDB/Scene/but_SheZhi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,272},{114,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,111}</string>
			</dict>
			<key>Game/LHDB/Scene/but_XiaLa_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,648},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>Game/LHDB/Scene/but_XiaLa_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,709},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_CaiJin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1658,678},{104,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,50}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_CaiJinBg01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,480},{311,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{311,103}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_CaiJinBg02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,681},{264,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,92}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_DingBu.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{4,919},{1280,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,58}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_XiaLaBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,732},{179,719}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,719}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,985},{6,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,249}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_ZiDongBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,4},{254,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,405}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_LongZhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,678},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,72}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_FengYinDeLongZhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,985},{33,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,153}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_LeiJiXiaZhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,985},{98,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,26}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_LongZhuDanJia.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,985},{98,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,26}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_TanBaoJiangLi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,985},{98,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,26}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_ZiDi.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,4},{248,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,63}</string>
			</dict>
			<key>Game/LHDB/Scene/but_ZiDong_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1658,266},{256,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,140}</string>
			</dict>
			<key>Game/LHDB/Scene/but_ZiDong_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,530},{256,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,140}</string>
			</dict>
			<key>Game/LHDB/Scene/but_WuXian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,4},{256,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,140}</string>
			</dict>
			<key>Game/LHDB/Scene/but_WuXian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,4},{256,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,140}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_DanXianXiaZhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,985},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_XianShu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,992},{53,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,28}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_LongZhuTanChuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,266},{407,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{407,167}</string>
			</dict>
			<key>Game/LHDB/Scene/but_XiaLa_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2014,799},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,457},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Combo-X.png</key>
			<dict>
				<key>frame</key>
				<string>{{1807,929},{226,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_100_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,511},{192,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_100_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,426},{192,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_20_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,254},{192,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_20_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,317},{192,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_50_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,380},{192,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_50_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,566},{192,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_WuXianZi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,583},{192,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,55}</string>
			</dict>
			<key>Game/LHDB/Scene/but_WuXianZi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,646},{192,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,55}</string>
			</dict>
			<key>Game/LHDB/Scene/Img_Tips_YuEBuZhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,403},{378,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{378,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scene.png</string>
			<key>realTextureFileName</key>
			<string>scene.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>