<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_card_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1050},{129,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{129,170}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1046},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,919},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,919},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,919},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,919},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,872},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,788},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,788},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,788},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,788},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,698},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,657},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,657},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,657},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,657},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,526},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,526},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,526},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,526},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,524},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,395},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,395},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,395},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,395},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,350},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,264},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,264},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,264},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,264},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,176},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,133},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,133},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,133},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,133},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_4E.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{129,172}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_4F.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1220},{129,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{129,170}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_flag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1050},{129,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{129,170}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1050},{129,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{129,170}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1050},{129,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{129,170}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>img_card_flag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1050},{129,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{129,170}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf79ecf58374177ce5a2cfb74ba791bf$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
